.wrap-percent {
  display: flex;
  justify-content: center;
}
.calculate {
  text-align: center;
  margin-top: 50px;
  height: 500px;
}

input {
  border: none;
  border-bottom: 2px solid orchid;
  height: 25px;
}
